body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: red;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

@media only screen and (min-width:768px) and  (max-width:1019px){
         #container {
    margin: 0px auto;
    width: 100%;
    max-width: 768px;
}
    
    .container header ul {
        display: flex;
    margin-right: 26px;
    margin-top: 39px;
    position: relative;
    bottom: -1px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.2px;
    list-style: none;
    color: aqua;
    }
    
    
    /*СЕРВИСЫ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
    .container #services h2 {
        margin-top: 41px;
    }

    #services .services-change {
        margin: 0px;
        height: 571px;
    }
    
    #services .flexitem {
    width: 224px;
    max-height: 133px;
    padding-left: 78px;
    overflow: hidden;
    position: relative;
        margin-bottom:11px;
        text-align: justify;
    }
    
    #services .servicestext {
        margin-bottom:0px;
    }
    
    #services .servicesflex{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        height: 390px;
        width: 653px;
        padding-top: 8px;
    }
    .container #services {
        height: 666px;
        border: none;
    }

    /*ПОРТФОЛИО!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
   
    .container #portfolio {
        height: 1016px;
    }
    
    #portfolio .photo-grid {
        grid-template-columns: repeat(3,1fr);  
    }
    
    .container .photo-grid {
        margin-top:29px;
    }
    /*О НАС!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
    .container .about-grid h3 {
        margin-top:5px;
    }
    
    .container #about .about-grid .social {
        margin-top:-8px;
    }
    .container #about {
        height: 589px;
    }
    
    .container .about-grid div > img {
        width:100%;
    }
    
    /*СВЯЗЬ!!!!!!!!!!!!!!!!!!!!!!!*/
    .container #form {
        height: 545px;
    }
    
    .container #form input {
        height:38px;
        width:426px;
        margin-bottom: 2.615%;
    }
    
    .container #form textarea {
           height: 144px;
            width: 424px;
    }
    
    .container .form-grid {
        margin-top: 2.762%;
    }
    
    .container #btn {
        margin-top: 3.706%;
    }
    
    .container .contacts-wrap {
        margin-left: 12.67%;
    }
    
    .container #form .contacts-wrap .info-wrap {
        margin-top: 6%;
    }
    
    /*СЛАЙДЕР!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
    .container #slider .vert img {
        width:180.85px;
        height:363.74px;
    }
    
    .container #slider .hor {
            margin: -175px 0px 0px 12px;
    }
    
    .container #slider .vert {
            margin: -268px 0px 0px 84px;
    }
    
    .slide2 img {
        width:768px;
    }
    
    .container #slider .hor img {
        width:364.21px;
        height:180.93px;
    }
    
    .container #slider {
        height: 445.76px;
    }
    
    .container #slider .toleft img {
        position: absolute;
            top: -69px;
            left: -13px;
    }
    
    .container #slider .toright img {
        position: absolute;
        top: -55px;
        left: -238px;
    }
    
    .container #slider .container-btn-vert {
            margin-top: -68px;
            margin-left: 60px;
            background-image: none;
    }
    
    .container #slider .container-btn-hor {
               margin-top: -126px;
               margin-left: 0px;
               background-image: none;
    }
    
    .container #slider .container-screen-hor {
         width: 251.73px;
         height: 143.55px;
         margin-top: -91px;
         margin-left: 45px;
    }
 
    .container #slider .container-screen-vert {
        width:141.55px;
        height: 251.73px;
        margin-top: -293px;
        margin-left: 10px;
    }
}











@media only screen and (min-width:375px) and  (max-width:767px){
  /*  body{
     width:100vh;
        margin:0 auto;
    }*/
        #container {
    margin: 0px auto;
    width: 100%;
    max-width: 375px;
}
    /*ХЕДЕР!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    .container header {
        height:71px;
        border:none;
        overflow: visible;
    }
    
    .dotted:before {
        opacity: 0%;
    }
    
    .container header ul {
       height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    position: absolute;
    font-size: 23px;
    top: 211px;
    left: 56px;
    }
    
    .container header ul li {
        margin-top:25px;
    }
    
    .container ul li: last-child {
        margin-right: 0;
    }
    
    .header-img {
        transition: transform 0.5s ease;
    }
    
    .header-img-active {
        transform: rotate(0.25turn);
         transition: 0.5s ease;
    }
    
    .singolo span {
        position: absolute;
     left: 14px;
    top: -187px;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -2px;
        display: block;
    }
    
    #container .singolo{
        display: block;
    }
    
    .header-img-passive {
        transform: rotate(0.50turn);
        transition:0.5s ease;
    }
    
   /* .container .menu-opacity {
        height: 100vh;
        position: absolute;
        width: 74%;
        background: #2D303A;
    }*/
    
    #container .active-header{
        height: 100vh;
        position: absolute;
        width: 74%;
        background: #2D303A;
        transition: 1s ease;
    }
    
    .container nav ul {
        display:none;
    }
    
    #container .active-nav {
        display:block;
    }
    
    
    
    .container ul li: first-child{
        margin-right: 0;
    }
    
    .container header .header-img {
        position: absolute;
    left: 21px;
    top: 23px;
        display: block;
    }
    
    .container header .logo {
        margin: 0px auto;
        font-size: 10px;
        padding-right: 29px;
        padding-top: 26px;
    }
    
    /*СЛАЙДЕР!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    .container #slider .vert img {
        width:88.3px;
        height:177.61px;
    }
    
    .container #slider .hor {
                margin: -243px 0px 0px 5px;
    }
    
    .container #slider .vert {
                margin: -288px 0px 0px 41px;
    }
    
    .slide2 img {
            width: 379px;
            padding-top: 27px;
    }
    
    .container #slider .hor img {
        width:177.84px;
        height:88.35px;
    }
    
    .container #slider {
        height: 220.59px;
        border: none;
    }
    
    .container #slider .toleft img {
        position: absolute;
            top: -184px;
            left: -33px;
    }
    
    .container #slider .toright img {
        position: absolute;
            top: -151px;
            left: -614px;
    }
    
    .container #slider .container-btn-vert {
            margin-top: -37px;
            margin-left: 28px;
            background-image: none;
            width: 20px;
            height: 20px;
    }
    
    .container #slider .container-btn-hor {
                width: 20px;
                height: 20px;
                margin-top: -64px;
                margin-left: 0px;
                background-image: none;
    }
    
    .container #slider .container-screen-hor {
        width: 123.43px;
    height: 70.12px;
    margin-top: -43px;
    margin-left: 22px;
    }
 
    .container #slider .container-screen-vert {
        width: 70.12px;
    height: 123.43px;
    margin-top: -141px;
    margin-left: 5px;
    }

    
    /*СЕРВИСЫ!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
    .container .services-change {
        margin:0;
    }
    
    .container .servicestext {
        margin-bottom: 0px;
        text-align: justify;
    }
    .container #services {
        height: 1032px;
        border:none;
    }
    
    .container .servicesflex {
        margin: -1% 0 0 -3%;
    }

    .container .flexitem{
        width:100%;
        text-align:justify;
        word-spacing: 1px;
        margin-bottom: 0;
    }
    
    .container #services h2 {
        margin-top: 10%;
        margin-left: -3%;
    }
    
    /*ПОРТФОЛИО!!!!!!!!!!!!!!!!!!!!!!!*/
    
    .container #portfolio {
        padding: 40px 30px 40px 30px;
    }
    
    .container #portfolio{
        height:759px;
    }

    .container #portfolio h2 {
        margin-top: 4%;
    }
    
    .container #navigation {
        margin:5% 0 0 0;
    }
    
    .container .photo-grid {
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 0.7rem;
        grid-row-gap:0.7rem;
        margin-top:24px;
    }
    
    .container .photo-grid img {
        width:151px;
        height: 127px;
    }
    
    #container #portfolio .photo-grid .active-img {
        width:144px;
        height:122px;
    }
    
    .container .photo-grid div:nth-child(n+9){
        display: none;
    }
    
    /*O NAS!!!!!!!!!!!!!!!!!!*/
    
    .container #about {
        height:1674px;
        border:none;
    }
    
    .container #about h2 {
        margin-top:1%;
        margin-left:-4%;
    }
    
    .container #about p {
        margin-left:-4%;
    }
    
    .container .about-grid {
        grid-template-columns: repeat(1,1fr);
            margin-top: 23px;
    }
    
    .container .about-grid div > img {
        margin-left: -3%;
        width:314px;
        height:314px;
    }
    
    .container #about .about-grid > div > p {
        margin-left: -3%;
        margin-top: -5%;
        margin-bottom:-3%;
    }
    
    .container #about .about-grid > div > h3 {
        margin-left:-3%;   
    }
    
    .container #about .about-grid .social {
        margin-top: 7%;
        margin-left: -3%;
        padding-bottom: 8.9%;
    }
    
    /*ОБРАТНАЯ СВЯЗЬ!!!!!!!!!!!!!!!!*/
    .container #form {
        height: 889px;
        border:none;
    }
    
    .container #form h2 {
        margin-top: 5%;
        margin-left: -3%;
    }
    
    .container #form p {
        margin: 27px 0px 0px -3%;
    }
    
    .container .form-grid {
        grid-template-rows:  1fr 1fr;
        grid-template-columns: 1fr;
        margin-top: 7.2%;
    }
    
    .container form div input {
            margin-bottom: 4%;
            margin-left: -3.2%;
            padding-left: 1%;
            width: 312px;
    }
    
    #container form div textarea {
        margin-top: -0.1%;
        width:302px;
        height:150px;    
        margin-left: -10px;
        padding-left: 1.9%;
        padding-top: 2%;
    }
    
    .container #btn {
        margin-top: 3%;
        width:100%;
        margin-left:-3%;
        height:51px;
    }
    
    .container .contacts-wrap {
            margin-top: 10%;
            margin-left: -3%;
    }
    
    #container #form .contacts-wrap p {
        margin-top: 1%;
        margin-left: 0%;
    }
    
    #container #form .contacts-wrap .info-wrap p{
        margin-top:1%;
    }
    
    #container #form .contacts-wrap .info-wrap {
        margin-top:3%;
    }
    
    #container .copyright {
        display:none;
    }
    
    #container #footer .social {
        float:none;
        margin: 0px auto;
        margin-top:7%;
    }

}














@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-BoldItalic.ttf);
    font-style: italic;
    font-weight: 700;
}

html {
    scroll-padding-top: 95px;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.container {
    margin: 0px auto;
    padding: 0px 40px;
    width: 100%;
    max-width: 1020px;
}

a {
    text-decoration: none;
    color: #FFF;
    outline:none;
}

h1,h2,h3 {
    margin: 0px;
}

h1:hover {
    color: #f06c64;
    transition: 0.5s;
}

/*/////////////////////////// HEADER /////////////////////////*/

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 89px;
    margin: 0px;
    background-color: rgb(45, 48, 58);
    border-bottom: 6px solid rgb(50, 55, 70);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 99;
    max-width: 1020px;
}

.singolo{
    display: none;
}

.header-img{
    display: none;
}

.dotted:before {
    content: "";
    background-color: #494e62;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    position: relative;
    left: 3px;
    top: 7px;

}

header ul {
    display: flex;
    margin-right: 24px;
    margin-top: 40px;
    position: relative;
    bottom: -3px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.2px;
    list-style: none;
    color: aqua;
}

header ul li {
    margin-right: 12px;
    display: flex;
    cursor: pointer;
}

header ul li:last-child {
    margin-right: 15px;
}

header ul li:first-child {
    margin-right: 13px;
}

/*header ul li a:hover {
    color: #f06c64;
    transition-duration: 1s;
}*/

header ul li a {
    overflow:hidden;
    background: linear-gradient(to right, #f06c64, #f06c64 50%,white 50%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-size:202% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

header ul li a:hover {
    background-position: 0 100%;
}

.active {
    background-position: 0 100%; 
}

.logo {
    padding: 29.5px 40px 29.5px 40px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

.logo span {
    color: #f06c64;
}

nav ul span {
    margin-right: 15px;
}

/*////////////////////// SLIDER //////////////////*/
.passive-slide {
    opacity: 0%;
    transition: transform 1ms;
    transition: opacity 1s;
}

/*.passive-right-slide {
    transform: translate(1020px);
    opacity: 100%;
    transition: translate 1ms;
}*/

.active-slide {
    opacity: 100%;
}

.active-right-slide {
    
}



#slider {
    margin: 0px auto;
    padding: 0px;
    height: 594px;
    border-bottom: 6px solid #ff6666;
    background-color: #f06c64;
    overflow: hidden;
    user-select: none;
    
}

.sliderflex {
    position: relative;
    
}

.slide2 {
    height: 594px;
}

#slider .sliderFlex2 {
    position: relative;
    margin-top:-308px;
    transition: transform 1ms;
    width:1020px;
    height:594px;
    /*transform:translate(1020px);*/
}

#slider .Phones {
    display: flex;
    height: inherit;
    width: 100%;
}

#slider .vert {
    margin: -255px 0px 0px 112px;
    width: 240px;
    height: 483px;
    position: inherit;
    z-index: 50;
}

#slider .hor {
    width: 484px;
    height: 240px;
    margin: -134px 0px 0px 73px;
    padding: 0px 0px 0px 0px;
    position: inherit;
    z-index: 50;
}

#slider .toright {
    position: inherit;
    margin: -254.6px 0px 0px 964px;
    width: 16px;
    height: 27px;
    z-index: 50;
}

#slider .toleft {
    position: inherit;
    margin: 281px 0px 0px 42px;
    width: 16px;
    height: 27px;
    z-index: 50;
}

.toright img:hover,
.toleft img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.container-btn-vert {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-top: -80px;
    margin-left: 86px;
    background-image: url(assets/HomeButtonHover.svg);
    opacity: 100%;
    
}

.container-btn-vert:hover {
   /* background-image: url(assets/HomeButtonHover.svg);
    opacity:100%;*/
    cursor: pointer; 
    border-radius: 100%;
}

.container-btn-hor {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-top: -158px;
    margin-left: 8px;
    background-image: url(assets/HomeButtonHover.svg);
    opacity: 100%;
    
}

.container-btn-hor:hover {
   /* background-image: url(assets/HomeButtonHover.svg);
    opacity:100%;*/
    cursor: pointer; 
    border-radius: 100%;
}

.container-screen-vert {
    position: relative;
    margin-top: -384px;
    margin-left: 14px;
    background-image: url(assets/Screen.svg);
    width: 188px;
    height: 333px;
    opacity: 0%;
}

.container-screen-vert:hover {
    cursor:pointer;
}

.container-screen-hor {
    position: relative;
    margin-top: -114px;
    margin-left: 60px;
    background-image: url(assets/Screen.svg);
    width: 333px;
    height: 188px;
    opacity: 0%;
}

.container-screen-hor:hover {
    cursor: pointer;
}

/*     /////////////////// SERVICES ////////////////////    */
#services {
    height: 494px;
    max-width: 1020px;
    margin: ;
    padding: 0px 40px 0px 40px;
    border-bottom: 6px solid #ffffff;
    overflow: hidden;
    background-color: #f2f2f2;
}

#services h2 {
    font-size: 31px;
    font-weight: 700;
    color: #666d89;
    letter-spacing: -0.2px;
    line-height: 32px;
    margin-bottom: 25px;
}

.services-change {
        margin: 61px 0px 0px 0px;
}

.servicestext {
    margin-top: -5px;
    margin-left: 2px;
    font-size: 17px;
    font-weight: 300;
    color: #767e9e;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.28px;
    overflow:hidden;
}

.servicesflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexitem {
    margin-bottom: 0.3%;
    margin-right: -0.3%;
    width: 24%;
    max-height: 120px;
    padding-left: 78px;
    overflow: hidden;
    position: relative;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 0px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0;
    user-select: none;
}

.icon img:hover {
    box-shadow: 0 0 2px rgba(0, 0, 100, 0.8);
    border-radius: 100%;
}

.flexitemtitle {
    margin: 23px 0px 0px 0px;
    color: #666d89;
    font-family: "Lato";
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -0.3px;

}

.flexitemtext {
    color: #767e9e;
    font-size: 12px;
    line-height: 21px;
}

/*////////////  Portfolio  ////////////////*/
body {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px auto;
    max-width: 1020px;
    width: 100%;
    padding: 0px;
}

#portfolio {
    color: #767e9e;
    max-width: 1020px;
    height: 784px;
    border-bottom: 6px solid #323746;
    padding: 40px;
    background-color: #2d303a;
    font-family: "Lato";
}

h2 {
    margin-top: 29px;
    ;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
}

#portfolio p {
    font-weight: 300;
    margin-top: 27px;
    margin-bottom: 9px;
    padding: 0px;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 2.5px;
}

#navigation div:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
    cursor: pointer;
}

#navigation {
    display: flex;
    margin: 10px 1px 0px 1px;
    user-select: none;
}

#navigation div {
    height: 20px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    word-spacing: -1px;
    outline: none;
    user-select: none;
}

#navigation .navigation-active {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.button1 {
    width: 27px;
}

.button2 {
    width: 76px;
}

.button3 {
    width: 91px;
}

.button4 {
    width: 55px;

}

#portfolio .photo-grid .active-img {
    border: #f06c64 5px solid; 
    width: 208px;
    height: 177px;
}

.photo-grid {
    margin-top: 19px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.0rem;
    overflow:hidden;
}

.photo-grid img:hover{
    opacity: 75%;
    cursor: pointer;
}

#container #portfolio .photo-grid div {
        border: none;
        user-select: none;
}


.photo-grid div:nth-child(13),
.photo-grid div:nth-child(14),
.photo-grid div:nth-child(15),
.photo-grid div:nth-child(16),
.photo-grid div:nth-child(17),
.photo-grid div:nth-child(18)
{
    display: none;
}


/* ////////////  ABOUT  /////////////*/

#about {
    font-family: "Lato";
    max-width: 1020px;
    height: 648px;
    border-bottom: 6px solid #FFFFFF;
    margin-top: -1px;
    padding: 40px;
    background-color: #f2f2f2;
}

#about p {
    margin-top: 27px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #767e9e;
    word-spacing: -1px;
}

#about h2 {
    margin-top: 28.3px;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
    word-spacing: -1px;
    letter-spacing: 0.1px;
}

.about-grid {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.24rem;
}

.about-grid img:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

 .about-grid h3:hover {
    transition: 0.3s;
    color:green;
     overflow:hidden;
     white-space: nowrap;
    text-align: justify;
}

.about-grid img {
    user-select: none;
}

.about-grid h3 {
    margin-top: 11px;
    letter-spacing: -0.1px;
    word-spacing: -1px;
    margin-bottom: 19px;
    font-size:18px;
    color:#666d89;
    overflow:hidden;
    white-space: nowrap;
    text-align: justify;
    max-width: 300px;
}

#about .about-grid p {
    font-size: 12px;
    margin-top: -11px;
    word-spacing: 0.71px;
    line-height: 21px;

}

#about .about-grid .social {
    margin-top: 23px;
}

#about .about-grid .social img {
   margin-right: 1.4px;
}

.broken {
margin-left: 1px;    
}

.social img {
    cursor: pointer;
}

.social1:hover {
    background-color: yellow;
    border-radius: 100%;
}

.social2:hover {
    background-color: black;
    border-radius: 100%;
}

.social3:hover {
    background-color: red;
    border-radius: 100%;
}

.social4:hover {
    background-color: magenta;
    border-radius: 100%;
}

.container {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

#form {
    height: 568px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding: 40px;
}

#form h2 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    margin-top: 28px;
    letter-spacing: -0.2px;
}

#form p {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 27px 0px 0px 0px;
}

.form-grid {
    margin-top: 44px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

form {
    font-family: "Lato", sans-serif;
}

form div input {
    height: 36px;
    width: 604px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    padding-left: 15px;
}

form div textarea {
    width: 602px;
    height: 190px;
    border: none;
    border-radius: 5px;
    resize: none;
    background-color: #d6564f;
    color: #f0d8d9;
    padding-left: 15px;
    padding-top: 10px;
}

form textarea::placeholder {
    color: #f48c8f;
    padding-top: 2px;
    padding-left: 0px;
    font-size: 11px;
    letter-spacing: -0.2px;
    word-spacing: -1px;
    font-family: "Lato", sans-serif;
    
}

form input::placeholder {
    color: #f48c8f;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 12px;
    letter-spacing: -0.3px;
}

input:focus:invalid {
    background-color: #000;
}

/*input[type="submit"] {
    margin-top: 10px;
    color: #f0d8d9;
    width: 33%;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #f0d8d9;
    color: #d6564f;
    border-radius: 15px;
    transition: 1s;
}*/

#btn {
    margin-top: 10px;
    color: #f0d8d9;
    width: 33%;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    background-color: #d6564f;
    user-select: none;
}

#btn:hover {
    cursor: pointer;
    background-color: #f0d8d9;
    color: #d6564f;
    border-radius: 15px;
    transition: 1s;
}

#btn:focus {
    outline: none;
}

#close-btn {
    margin-top: 10px;
    color: #f0d8d9;
    width: 75%;
    border: none;
    border-radius: 1%;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.3);
    background-color: #d6564f;
    padding: 10px;
}

#close-btn:hover {
    cursor: pointer;
    background-color: #f0d8d9;
    color: #d6564f;
    border-radius: 15px;
    transition: 1s;
}

#close-btn:focus {
    outline: none;
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background: rgba(130,0,0,0.8);
    z-index: 100;
}

.hidden {
    display: none;
}

/*
#message .hidden {
    display: none;
}
*/

#message {
    position: fixed;
    top: calc(61% - 25%);
    left: calc(62% - 25%);
    border: 2px solid #f06c64;
    padding: 2%;
    background-color: #d6564f;
    border-radius: 8px;
    text-align: center;
    padding-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 333px;
}

#message p span {
        overflow: hidden;
    text-overflow: ellipsis;
}

#message p {
    overflow: auto;
    /*text-overflow: ellipsis;*/
    max-height: 200px;
}



/*///////////////////////////////////////////////// CONTACTS /////////////////////////////////////////// */
.contacts-wrap {
    margin-left: 13px;
}

.contacts-wrap a {
    color: #f0d8d9;
}

.contacts-wrap h3 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
}

#form .contacts-wrap p {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    margin-top: 9px;
    text-align: justify;

}

#form .contacts-wrap .info-wrap {
    margin-top: 21px;
}

#form .contacts-wrap .info-wrap p {
    margin-top: -0.5px;
}

#form .contacts-wrap .info-wrap p img {
    padding-right: 10px;
}

#form .contacts-wrap .info-wrap p:nth-child(1) {
    padding-left: 3px;
}

#footer {
    padding: 0px 40px;
    height: 76px;
    color: #666d89;
    background-color: #2d303a;
}

#footer .social {
    float: right;
    margin-top: 21px;
    display: flex;

}

#footer .social div {
    margin-right: -1px;
    margin-left: 7px;
}

#footer .social img {
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

#footer .copyright {
    margin-top: 30px;
    font-size: 12px;
    letter-spacing: -0.02px
}

#footer .copyright p {
    margin:0px;
}

